<launch>
    <!-- Node 1: Start the simulation -->
    <node name="start_simulation" pkg="tiago_iaslab_simulation" type="start_simulation.launch" output="screen" args="world_name:=iaslab_assignment2" />

    <!-- Node 2: Navigation stack -->
    <node name="navigation" pkg="tiago_iaslab_simulation" type="navigation.launch" output="screen" />

    <!-- Node 3: AprilTag detection -->
    <node name="apriltag" pkg="tiago_iaslab_simulation" type="apriltag2.launch" output="screen" />

    <!-- Delay to allow the robot to move down its arm before proceeding -->
    <param name="arm_ready" command="sleep 15" />

    <!-- Node 4: get_straightline_node -->
    <node name="get_straightline_node" pkg="tiago_iaslab_simulation" type="get_straightline_node" output="screen" />

    <!-- Node 4: Delay to allow the robot to move down its arm before proceeding -->
    <node name="delay" pkg="rosbash" type="bash" output="screen" args="-c 'sleep 20'" />

    <!-- Node 5: Assignment nodes -->
    <node name="node_A" pkg="assignment_2" type="node_A" output="screen" />
    <node name="node_B" pkg="assignment_2" type="node_B" output="screen" />
    <node name="node_C" pkg="assignment_2" type="node_C" output="screen" />
</launch>